#include <dt-bindings/msm-camera.h>
#include "ftm_camera_settings.dtsi"
#include "regulator/aw37004.dtsi"

&soc {
	led_flash_rear_wide: qcom,camera-flash1 {
		cell-index = <1>;
		compatible = "qcom,camera-flash";
		flash-source = <&pmxr2230_flash0 &pmxr2230_flash3>;
		torch-source = <&pmxr2230_torch0 &pmxr2230_torch3>;
		switch-source = <&pmxr2230_switch2>;
		status = "ok";
	};

	qcom,cam-res-mgr {
		compatible = "qcom,cam-res-mgr";
		status = "ok";
	};

	oplus,camera_extension@0 {
		compatible = "oplus,camera_extension";
		enable_camera_extension;
		status = "ok";
	};

};

//&L2M {
//  regulator-min-microvolt = <1000000>;
//  regulator-max-microvolt = <1000000>;
//  qcom,init-voltage = <1000000>;
//};

&cam_sensor_active_rst0 {
	mux {
		pins = "gpio28";
		function = "gpio";
	};

	config {
		pins = "gpio28";
		bias-disable; /* No PULL */
		drive-strength = <2>; /* 2 MA */
		qcom,apps;
	};
};

&cam_sensor_suspend_rst0 {
	mux {
		pins = "gpio28";
		function = "gpio";
	};

	config {
		pins = "gpio28";
		bias-pull-down; /* PULL DOWN */
		drive-strength = <2>; /* 2 MA */
		output-low;
		qcom,remote;
	};
};

&cam_sensor_active_rst1 {
	mux {
		pins = "gpio137";
		function = "gpio";
	};

	config {
		pins = "gpio137";
		bias-disable; /* No PULL */
		drive-strength = <2>; /* 2 MA */
		qcom,apps;
	};
};

&cam_sensor_suspend_rst1 {
	mux {
		pins = "gpio137";
		function = "gpio";
	};

	config {
		pins = "gpio137";
		bias-pull-down; /* PULL DOWN */
		drive-strength = <2>; /* 2 MA */
		output-low;
		qcom,remote;
	};
};

&cam_sensor_active_rst2 {
	mux {
		pins = "gpio15";
		function = "gpio";
	};

	config {
		pins = "gpio15";
		bias-disable; /* No PULL */
		drive-strength = <2>; /* 2 MA */
		qcom,apps;
	};
};

&cam_sensor_suspend_rst2 {
	mux {
		pins = "gpio15";
		function = "gpio";
	};

	config {
		pins = "gpio15";
		bias-pull-down; /* PULL DOWN */
		drive-strength = <2>; /* 2 MA */
		output-low;
		qcom,remote;
	};
};

&cam_cci0 {

	eeprom_wide: qcom,eeprom0 {
		cell-index = <0>;
		//reg = <0x54>;
		compatible = "qcom,eeprom";
		cam_vio-supply = <&L1G>;
		cam_vdig-supply = <&aw37004_L1>;
		cam_clk-supply = <&cam_cc_titan_top_gdsc>;
		cam_vana-supply = <&aw37004_L3>;
		cam_vaf-supply = <&L23B>;
		regulator-names = "cam_vio", "cam_vdig","cam_clk", "cam_vana";
		rgltr-cntrl-support;
		rgltr-min-voltage = <1800000 1200000 0 2800000>;
		rgltr-max-voltage = <1800000 1200000 0 2800000>;
		rgltr-load-current = <500 256000 0 88000>;
		cci-master = <CCI_MASTER_0>;
		status = "ok";
	};

	//ois_wide: qcom,ois0 {
	//	cell-index = <0>;
	//	compatible = "qcom,ois";
	//	cci-master = <CCI_MASTER_0>;
	//	cam_vio-supply = <&L5M>;
	//	cam_vaf-supply = <&L7M>;
	//	cam_clk-supply = <&cam_cc_titan_top_gdsc>;
	//	regulator-names = "cam_vio","cam_vaf", "cam_clk";
	//	rgltr-cntrl-support;
	//	rgltr-min-voltage = <1800000 3000000 0>;
	//	rgltr-max-voltage = <1800000 3000000 0>;
	//	rgltr-load-current = <300000 300000 0>;
	//	// ois_gyro,position=<3>;
	//	// ois_gyro,type=<3>;
	//	// ois,type=<0>;
	//	// //ois,name="bu63169";//??
	//	// ois_module,vendor=<1>;
	//	// ois_actuator,vednor=<2>;
	//	// ois,fw=<1>;
	//	status = "ok";
	//};

	actuator_wide: qcom,actuator0 {
		cell-index = <0>;
		compatible = "qcom,actuator";
		cci-master = <CCI_MASTER_0>;
		cam_vaf-supply = <&L23B>;
		regulator-names = "cam_vaf";
		rgltr-cntrl-support;
		rgltr-min-voltage = <2800000>;
		rgltr-max-voltage = <2800000>;
		rgltr-load-current = <120000>;
		status = "ok";
	};

	// wide camera
	qcom,cam-sensor0 {
		cell-index = <0>;
		compatible = "qcom,cam-sensor";
		csiphy-sd-index = <2>;
		sensor-position-roll = <90>;
		sensor-position-pitch = <0>;
		sensor-position-yaw = <180>;
		eeprom-src = <&eeprom_wide>;
		//ois-src = <&ois_wide>;
		actuator-src = <&actuator_wide>;
		led-flash-src = <&led_flash_rear_wide>;
		cam_vio-supply = <&L1G>;
		cam_vdig-supply = <&aw37004_L1>;
		cam_clk-supply = <&cam_cc_titan_top_gdsc>;
		cam_vana-supply = <&aw37004_L3>;
		cam_vaf-supply = <&L23B>;
		//cam_v_custom1-supply = <&L3N>;
		regulator-names = "cam_vio", "cam_vdig", "cam_clk", "cam_vana",
			"cam_vaf";
		rgltr-cntrl-support;
		rgltr-min-voltage = <1800000 1200000 0 2800000 2800000>;
		rgltr-max-voltage = <1800000 1200000 0 2800000 2800000>;
		rgltr-load-current = <500 256000 0 88000 120000>;
		gpio-no-mux = <0>;
		pinctrl-names = "cam_default", "cam_suspend";
		pinctrl-0 = <&cam_sensor_mclk0_active
				&cam_sensor_active_rst0>;
		pinctrl-1 = <&cam_sensor_mclk0_suspend
				&cam_sensor_suspend_rst0>;
		gpios = <&tlmm 64 0>,
			<&tlmm 28 0>;
		gpio-reset = <1>;
		gpio-req-tbl-num = <0 1>;
		gpio-req-tbl-flags = <1 0>;
		gpio-req-tbl-label = "CAMIF_MCLK0",
					"CAM_RESET0";
		cci-master = <CCI_MASTER_0>;
		clocks = <&cambistmclkcc CAM_BIST_MCLK_CC_MCLK0_CLK>;
		clock-names = "cam_clk";
		clock-cntl-level = "nominal";
		clock-rates = <19200000>;
		//is-support-laser = <1>;
		enable_qsc_write_in_advance = <1>;
		qsc_reg_addr = <0x1908>;
		eeprom_slave_addr = <0xA0>;
		qsc_data_size = <450>;
		write_qsc_addr = <0x59f0>;
		ftm_setting_compatible = <'R' 0x300B 2 2 0x5044>; // expect camera_300B_5044
		status = "ok";
	};

	//eeprom_uw: qcom,eeprom1 {
	//	cell-index = <1>;
	//	compatible = "qcom,eeprom";
	//	cam_vio-supply = <&L5M>;
	//	cam_vdig-supply = <&L1I>;
	//	cam_clk-supply = <&cam_cc_titan_top_gdsc>;
	//	cam_vana-supply = <&L4M>;
	//	cam_vaf-supply = <&L7M>;
	//	regulator-names = "cam_vio", "cam_vdig","cam_clk", "cam_vana", "cam_vaf";
	//	rgltr-cntrl-support;
	//	rgltr-min-voltage = <1800000 1000000 0 2200000 2800000>;
	//	rgltr-max-voltage = <1800000 1000000 0 2200000 3000000>;
	//	rgltr-load-current = <300000 1200000 0 300000 300000>;
	//	cci-master = <CCI_MASTER_0>;
	//	status = "ok";
	//};

	// mono camera
	qcom,cam-sensor1 {
		cell-index = <1>;
		compatible = "qcom,cam-sensor";
		csiphy-sd-index = <4>;
		sensor-position-roll = <90>;
		sensor-position-pitch = <0>;
		sensor-position-yaw = <180>;
		//eeprom-src = <&eeprom_uw>;
		//actuator-src = <&actuator_uw>;
		//led-flash-src = <&led_flash_triple_rear_ultrawide>;
		cam_vio-supply = <&L1G>;
		//cam_vdig-supply = <&L1I>;
		cam_clk-supply = <&cam_cc_titan_top_gdsc>;
		cam_vana-supply = <&aw37004_L4>;
		//cam_vaf-supply = <&L7M>;
		regulator-names = "cam_vio", "cam_clk", "cam_vana";
		rgltr-cntrl-support;
		rgltr-min-voltage = <1800000 0 2800000>;
		rgltr-max-voltage = <1800000 0 2800000>;
		rgltr-load-current = <34000  0 33000>;
		gpio-no-mux = <0>;
		pinctrl-names = "cam_default", "cam_suspend";
		pinctrl-0 = <&cam_sensor_mclk1_active
				&cam_sensor_active_rst1>;
		pinctrl-1 = <&cam_sensor_mclk1_suspend
				&cam_sensor_suspend_rst1>;
		gpios = <&tlmm 65 0>,
			<&tlmm 137 0>;
		gpio-reset = <1>;
		gpio-req-tbl-num = <0 1>;
		gpio-req-tbl-flags = <1 0>;
		gpio-req-tbl-label = "CAMIF_MCLK1",
					"CAM_RESET1";
		cci-master = <CCI_MASTER_1>;
		clocks = <&cambistmclkcc CAM_BIST_MCLK_CC_MCLK1_CLK>;
		clock-names = "cam_clk";
		clock-cntl-level = "nominal";
		clock-rates = <19200000>;
		ftm_setting_compatible = <'R' 0x03 1 1 0x2b>; // expect camera_0003_002b
		//probe_intent = <0x0805>; // sensor_id: 0x38E5 = xml_dummy_id: 0x30E0 | probe_intent: 0x0805
		status = "ok";
	};

};

&cam_cci1 {

	eeprom_front: qcom,eeprom2 {
		cell-index = <2>;
		//reg = <0x54>;
		compatible = "qcom,eeprom";
		cam_vio-supply = <&L1G>;
		cam_vdig-supply = <&aw37004_L2>;
		cam_clk-supply = <&cam_cc_titan_top_gdsc>;
		cam_vana-supply = <&aw37004_L4>;
		regulator-names = "cam_vio", "cam_vdig","cam_clk", "cam_vana";
		rgltr-cntrl-support;
		rgltr-min-voltage = <1800000 1050000 0 2800000>;
		rgltr-max-voltage = <1800000 1050000 0 2800000>;
		rgltr-load-current = <2800  256700 0  46000>;
		cci-master = <CCI_MASTER_0>;
		status = "ok";
	};

	// front camera
	qcom,cam-sensor2 {
		cell-index = <2>;
		//reg = <0x20>;
		compatible = "qcom,cam-sensor";
		csiphy-sd-index = <3>;
		sensor-position-roll = <270>;
		sensor-position-pitch = <0>;
		sensor-position-yaw = <180>;
		eeprom-src = <&eeprom_front>;
		cam_vio-supply = <&L1G>;
		cam_vdig-supply = <&aw37004_L2>;
		cam_clk-supply = <&cam_cc_titan_top_gdsc>;
		cam_vana-supply = <&aw37004_L4>;
		regulator-names = "cam_vio", "cam_vdig","cam_clk", "cam_vana";
		rgltr-cntrl-support;
		//aon-camera-id = <AON_CAM1>;
		rgltr-min-voltage = <1800000 1050000 0 2800000>;
		rgltr-max-voltage = <1800000 1050000 0 2800000>;
		rgltr-load-current = <2800  256700 0  46000>;
		gpio-no-mux = <0>;
		pinctrl-names = "cam_default", "cam_suspend";
		pinctrl-0 = <&cam_sensor_mclk4_active
				 &cam_sensor_active_rst2>;
		pinctrl-1 = <&cam_sensor_mclk4_suspend
				 &cam_sensor_suspend_rst2>;
		gpios = <&tlmm 68 0>,
			<&tlmm 15 0>;
		gpio-reset = <1>;
		gpio-req-tbl-num = <0 1>;
		gpio-req-tbl-flags = <1 0>;
		gpio-req-tbl-label = "CAMIF_MCLK4",
					"CAM_RESET2";
		cci-master = <CCI_MASTER_0>;
		clocks = <&cambistmclkcc CAM_BIST_MCLK_CC_MCLK4_CLK>;
		clock-names = "cam_clk";
		clock-cntl-level = "nominal";
		clock-rates = <19200000>;
		swremosaic_sensor_id = <0x0471>;
		ftm_setting_compatible = <'R' 0x0016 2 2 0x0615
					  'R' 0x0016 2 2 0x0471
					  'W' 0x0A02 2 1 0x7F
					  'W' 0x0A00 2 1 0x01
					  'R' 0x0A1F 2 1 0x00B4>; // expect camera_0016_0615_0A1F_0034 camera_0016_0615_0A1F_0038 or camera_0016_0615_0A1F_00B4 camera_0016_0471_0A1F_0000
		status = "ok";
	};
};
