/dts-v1/;
/plugin/;

#include <dt-bindings/clock/qcom,gcc-sun.h>
#include <dt-bindings/clock/qcom,camcc-sun.h>
#include <dt-bindings/clock/qcom,cambistmclkcc-sun.h>
#include <dt-bindings/interconnect/qcom,sun.h>
#include <dt-bindings/interrupt-controller/arm-gic.h>
#include <dt-bindings/regulator/qcom,rpmh-regulator-levels.h>

#include <dt-bindings/oplus/hw-id.h>
#include "../sun-camera.dtsi"
#include "paganiIn_camera_overlay_common_T0.dtsi"
/ {
	model = "Qualcomm Technologies, Inc. Sun PaganiIn_T0";
	compatible = "qcom,sun-mtp", "qcom,sun", "qcom,mtp";
	oplus,project-id = <24875>;
	oplus,hw-id = <OPLUS_EVT1 OPLUS_EVT2 OPLUS_T0 OPLUS_T1 OPLUS_DVT1 OPLUS_DVT2 OPLUS_PVT1>;
};