/***************************************************************
** Copyright (C), 2024, OPLUS Mobile Comm Corp., Ltd
**
** Description : diplay common config
** Version : NA
** Date : 2024/11/19
** Author : Oplus Display
******************************************************************/
				qcom,mdss-dsi-h-right-border = <0>;
				qcom,mdss-dsi-v-top-border = <0>;
				qcom,mdss-dsi-v-bottom-border = <0>;
				qcom,mdss-dsi-h-left-border = <0>;

				qcom,dsi-panel-date-switch-command = [
					39 00 00 00 00 00 04 FF 5A A5 1D
				];
				qcom,mdss-dsi-esd-switch-page-command = [
					39 00 00 00 00 00 04 FF 5A A5 00
				];
				qcom,mdss-dsi-default-switch-page-command = [
					39 00 00 00 00 00 04 FF 5A A5 00
				];
				qcom,mdss-dsi-panel-info-switch-page-command = [
					39 00 00 00 00 00 04 FF 5A A5 00
				];
				qcom,mipi-err-check-page-command = [
					39 00 00 00 00 00 04 FF 5A A5 00
				];
				qcom,dsi-panel-btb-switch-command = [
					39 00 00 00 00 00 04 FF 5A A5 1D
				];

				qcom,mdss-dsi-panel-info-switch-page-command-state = "dsi_lp_mode";
				qcom,mdss-dsi-timing-switch-high-fre-command-state = "dsi_hs_mode";
				qcom,mdss-dsi-timing-switch-command-state = "dsi_hs_mode";
				qcom,mdss-dsi-on-command-state = "dsi_lp_mode";
				qcom,mdss-dsi-off-command-state = "dsi_hs_mode";
				qcom,mdss-dsi-pwm-switch-mode2-panel-on-command-state = "dsi_hs_mode";
				qcom,mdss-dsi-pwm-switch-mode1-command-state = "dsi_hs_mode";
				qcom,mdss-dsi-pwm-switch-mode2-command-state = "dsi_hs_mode";
				qcom,mdss-dsi-timming-switch-pwm-mode2-command-state = "dsi_hs_mode";
				qcom,dsi-panel-date-switch-command-state = "dsi_lp_mode";
				qcom,mdss-dsi-esd-switch-page-command-state = "dsi_lp_mode";
				qcom,mdss-dsi-default-switch-page-command-state = "dsi_lp_mode";
				qcom,mipi-err-check-page-command-state = "dsi_hs_mode";
				qcom,dsi-panel-btb-switch-command-state = "dsi_hs_mode";

				/* SPR CONFIG */
				qcom,src-chroma-format = <1>;
