// SPDX-License-Identifier: BSD-3-Clause
/*
 * Copyright (c) 2023-2024 Qualcomm Innovation Center, Inc. All rights reserved.
 * Copyright (c) 2025 The LineageOS Project
 */

&soc {
	mdss_mdp: qcom,mdss_mdp@ae00000 {
		connectors = <&sde_dsi &smmu_sde_unsec &smmu_sde_sec &sde_wb1 &sde_wb2 &sde_dp &sde_cesta>;
		nvmem-cell-names = "ssip_config";
		nvmem-cells = <&ssip_config>;
		qcom,sde-dspp-ltm-off = <0x15300 0x14300 0x13300 0x12300>;
		qcom,sde-dspp-ltm-version = <0x10003>;
		qcom,sde-ib-bw-vote = <0x2625a0 0x00 0xc3500>;
		qcom,sde-wakeup-with-touch;
		qcom,sde-has-idle-pc;
		interconnect-names = "qcom,sde-data-bus0", "qcom,sde-ebi-bus", "qcom,sde-reg-bus";
		interconnects = <&mmss_noc 0x15 &gem_noc 0x229 &mc_virt 0x03 &mc_virt 0x201 &gem_noc 0x02 &config_noc 0x208>;
		qcom,sde-vm-exclude-reg-names = "ipcc_reg", "swfuse_phys";
		qcom,sde-soccp-controller = <&soccp_pas>;
		qti,smmu-proxy-cb-id = <0x01>;
		mmcx-supply = <&VDD_MMCX_LEVEL>;
		qcom,hw-fence-sw-version = <0x01>;
		clock-max-rate = <0x00 0x00 0x124f800 0x2245cdc0>;
		clock-rate = <0x00 0x00 0x124f800 0x2245cdc0>;
		clock-names = "gcc_bus", "iface_clk", "vsync_clk", "lut_clk";
		clocks = <&gcc 0x10 &dispcc 0x06 &dispcc 0x4f &dispcc 0x44>;
		qcom,sde-reg-bus,vectors-KBps = <0x00 0x00 0x00 0x36b0 0x00 0x222e0 0x00 0x4baf0>;
		qcom,sde-secure-sid-mask = <0x2801 0x2c01>;
		qcom,sde-reg-dma-clk-ctrl = <0x2bc 0x14>;
		qcom,sde-reg-dma-xin-id = <0x07>;
		qcom,sde-reg-dma-trigger-off = <0x119c>;
		qcom,sde-reg-dma-version = <0x30000>;
		qcom,sde-reg-dma-id = <0x00 0x01>;
		qcom,sde-reg-dma-off = <0x00 0x800>;
		qcom,sde-hw-fence-mdp-ctl-offset = <0x20000>;
		qcom,sde-ipcc-client-dpu-phys-id = <0x14>;
		qcom,sde-ipcc-protocol-id = <0x04>;
		qcom,sde-qos-cpu-irq-latency = <0x12c>;
		qcom,sde-qos-cpu-dma-latency = <0x12c>;
		qcom,sde-qos-cpu-mask-performance = <0x03>;
		qcom,sde-qos-cpu-mask = <0x03>;
		qcom,sde-cdp-setting = <0x01 0x01 0x01 0x00>;
		qcom,sde-creq-lut = <0x112233 0x44556666 0x112233 0x66666666 0x112233 0x44556666 0x112233 0x66666666 0x00 0x00 0x00 0x00 0x77776666 0x66666540 0x77776666 0x66666540 0x77776541 0x00 0x77776541 0x00 0x112233 0x44556666 0x112233 0x66666666 0x112233 0x44556666 0x112233 0x66666666 0x00 0x00 0x00 0x00 0x55555544 0x33221100 0x55555544 0x33221100>;
		qcom,sde-safe-lut = <0xff00 0xfff0 0xff00 0xfff0 0xffff 0xffff 0x01 0x01 0x3ff 0x3ff 0xff00 0xfff0 0xff00 0xfff0 0xffff 0xffff 0xff 0xff>;
		qcom,sde-danger-lut = <0xffff 0xffff 0xffff 0xffff 0x00 0x00 0x00 0x00 0x00 0x00 0xffff 0xffff 0xffff 0xffff 0x00 0x00 0xffff0000 0xffff0000>;
		qcom,sde-vbif-qos-wb-rot-remap = <0x04 0x04 0x05 0x05 0x05 0x05 0x05 0x06 0x04 0x04 0x05 0x05 0x05 0x05 0x05 0x06>;
		qcom,sde-vbif-qos-cnoc-remap = <0x03 0x03 0x04 0x04 0x05 0x05 0x05 0x05 0x03 0x03 0x04 0x04 0x05 0x05 0x05 0x05>;
		qcom,sde-vbif-qos-offline-wb-remap = <0x03 0x03 0x03 0x03 0x03 0x03 0x03 0x03 0x03 0x03 0x03 0x03 0x03 0x03 0x03 0x03>;
		qcom,sde-vbif-qos-lutdma-remap = <0x04 0x04 0x04 0x04 0x05 0x05 0x05 0x05 0x04 0x04 0x04 0x04 0x05 0x05 0x05 0x05>;
		qcom,sde-vbif-qos-cwb-remap = <0x04 0x04 0x05 0x05 0x05 0x05 0x05 0x06 0x04 0x04 0x05 0x05 0x05 0x05 0x05 0x06>;
		qcom,sde-vbif-qos-nrt-remap = <0x03 0x03 0x03 0x03 0x03 0x03 0x03 0x03 0x03 0x03 0x03 0x03 0x03 0x03 0x03 0x03>;
		qcom,sde-vbif-qos-rt-remap = <0x04 0x04 0x05 0x05 0x05 0x05 0x05 0x06 0x04 0x04 0x05 0x05 0x05 0x05 0x05 0x06>;
		qcom,sde-vbif-dynamic-ot-wr-limit = <0x3b53800 0x02 0x76a7000 0x06 0x1da9c000 0x10>;
		qcom,sde-vbif-default-ot-wr-limit = <0x20>;
		qcom,sde-vbif-default-ot-rd-limit = <0x28>;
		qcom,sde-vbif-memtype-1 = <0x03 0x03 0x03 0x03 0x03 0x03 0x03 0x03>;
		qcom,sde-vbif-memtype-0 = <0x03 0x03 0x03 0x03 0x03 0x03 0x03 0x03>;
		qcom,sde-vbif-id = <0x00>;
		qcom,sde-vbif-size = <0x1074>;
		qcom,sde-vbif-off = <0x00>;
		qcom,sde-uidle-size = <0x80>;
		qcom,sde-uidle-off = <0x80000>;
		qcom,sde-lm-noise-version = <0x10000>;
		qcom,sde-lm-noise-off = <0x320>;
		qcom,sde-aiqe-has-feature-aiscaler;
		qcom,sde-aiqe-has-feature-copr;
		qcom,sde-aiqe-has-feature-ssrc;
		qcom,sde-aiqe-has-feature-abc;
		qcom,sde-aiqe-has-feature-mdnie;
		qcom,sde-dspp-aiqe-aiscaler-size = <0x7d0>;
		qcom,sde-dspp-aiqe-aiscaler-version = <0x10000>;
		qcom,sde-dspp-aiqe-aiscaler-off = <0x30000 0xffffffff>;
		qcom,sde-dspp-aiqe-wrapper-size = <0x1c>;
		qcom,sde-dspp-aiqe-wrapper-version = <0x10000>;
		qcom,sde-dspp-aiqe-wrapper-off = <0x39780 0xffffffff 0x3a780 0xffffffff>;
		qcom,sde-dspp-aiqe-dither-size = <0x20>;
		qcom,sde-dspp-aiqe-dither-version = <0x10000>;
		qcom,sde-dspp-aiqe-dither-off = <0x39700 0xffffffff 0x3a700 0xffffffff>;
		qcom,sde-dspp-aiqe-size = <0x3fc>;
		qcom,sde-dspp-aiqe-version = <0x10000>;
		qcom,sde-dspp-aiqe-off = <0x39000 0xffffffff 0x3a000 0xffffffff>;
		qcom,sde-dspp-demura-version = <0x30000>;
		qcom,sde-dspp-demura-size = <0x150>;
		qcom,sde-dspp-demura-off = <0x15600 0x14600 0x13600 0x12600>;
		qcom,sde-dspp-spr-version = <0x20000>;
		qcom,sde-dspp-spr-size = <0x200>;
		qcom,sde-dspp-spr-off = <0x15400 0x14400 0x13400 0x12400>;
		qcom,sde-num-nrt-paths = <0x00>;
		qcom,sde-dram-channels = <0x04>;
		qcom,sde-min-dram-ib-kbps = "", "\f5";
		qcom,sde-min-llcc-ib-kbps = <0x00>;
		qcom,sde-min-core-ib-kbps = <0x2625a0>;
		qcom,sde-max-bw-high-kbps = <0x1b2e020>;
		qcom,sde-max-bw-low-kbps = <0x1206420>;
		qcom,sde-max-trusted-vm-displays = <0x01>;
		qcom,sde-has-dest-scaler;
		qcom,sde-has-dim-layer;
		qcom,sde-pipe-order-version = <0x01>;
		qcom,sde-has-src-split;
		qcom,sde-has-cdp;
		qcom,sde-panic-per-pipe;
		qcom,sde-smart-panel-align-mode = <0x0c>;
		qcom,sde-macrotile-mode = <0x01>;
		qcom,sde-ubwc-static = <0x01>;
		qcom,sde-ubwc-bw-calc-version = <0x01>;
		qcom,sde-ubwc-swizzle = <0x06>;
		qcom,sde-ubwc-version = <0x50000001>;
		qcom,sde-highest-bank-bit = <0x08 0x03 0x07 0x02>;
		qcom,sde-mixer-blendstages = <0x0b>;
		qcom,sde-wb-linewidth-linear = <0x2000>;
		qcom,sde-max-dest-scaler-output-linewidth = <0xa00>;
		qcom,sde-max-dest-scaler-input-linewidth = <0x800>;
		qcom,sde-dsc-linewidth = <0xa00>;
		qcom,sde-wb-linewidth = <0x1000>;
		qcom,sde-sspp-linewidth = <0x1400>;
		qcom,sde-mixer-linewidth = <0xa00>;
		qcom,sde-sspp-qseed-off = <0xa00>;
		qcom,sde-qseed-scalar-version = <0x3004>;
		qcom,sde-qseed-sw-lib-rev = "qseedv3lite";
		qcom,sde-csc-type = "csc-10bit";
		qcom,sde-sspp-csc-off = <0x1a00>;
		qcom,sde-sspp-clk-status = <0x4334 0x00 0x6334 0x00 0x8334 0x00 0xa334 0x00 0x24334 0x00 0x26334 0x00 0x28334 0x00 0x2a334 0x00 0x2c334 0x00 0x2e334 0x00>;
		qcom,sde-sspp-clk-ctrl = <0x4330 0x00 0x6330 0x00 0x8330 0x00 0xa330 0x00 0x24330 0x00 0x26330 0x00 0x28330 0x00 0x2a330 0x00 0x2c330 0x00 0x2e330 0x00>;
		qcom,sde-max-per-pipe-bw-high-kbps = <0x56f9a0 0x56f9a0 0x56f9a0 0x56f9a0 0x56f9a0 0x56f9a0 0x56f9a0 0x56f9a0 0x56f9a0 0x56f9a0>;
		qcom,sde-max-per-pipe-bw-kbps = <0x44aa20 0x44aa20 0x44aa20 0x44aa20 0x44aa20 0x44aa20 0x44aa20 0x44aa20 0x44aa20 0x44aa20>;
		qcom,sde-mixer-blend-op-off = <0x40 0x70 0xa0 0xd0 0x100 0x130 0x160 0x190 0x1c0 0x1f0 0x220>;
		qcom,sde-mixer-pair-mask = <0x02 0x01 0x04 0x03 0x06 0x05 0x08 0x07 0x0a 0x09 0x0c 0x0b>;
		qcom,sde-smart-dma-rev = "smart_dma_v2p5";
		qcom,sde-sspp-smart-dma-priority = <0x07 0x08 0x09 0x0a 0x01 0x02 0x03 0x04 0x05 0x06>;
		qcom,sde-sspp-excl-rect = <0x01 0x01 0x01 0x01 0x01 0x01 0x01 0x01 0x01 0x01>;
		qcom,sde-sspp-xin-id = <0x00 0x04 0x08 0x0c 0x01 0x05 0x09 0x0d 0x0e 0x0f>;
		qcom,sde-sspp-src-size = <0x344>;
		qcom,sde-sspp-off = <0x5000 0x7000 0x9000 0xb000 0x25000 0x27000 0x29000 0x2b000 0x2d000 0x2f000>;
		qcom,sde-sspp-type = "vig", "vig", "vig", "vig", "dma", "dma", "dma", "dma", "dma", "dma";
		qcom,sde-dither-size = <0x20>;
		qcom,sde-dither-version = <0x20000>;
		qcom,sde-cwb-dither = <0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x01 0x01 0x01 0x01>;
		qcom,sde-dither-off = <0xe0 0xe0 0xe0 0xe0 0xe0 0xe0 0xe0 0xe0 0xe0 0xe0 0xe0 0xe0>;
		qcom,sde-dsc-native422-supp = <0x01 0x01 0x01 0x01 0x01 0x01 0x01 0x01>;
		qcom,sde-dsc-ctl-size = <0x24>;
		qcom,sde-dsc-ctl = <0xf00 0xf80 0xf00 0xf80 0xf00 0xf80 0xf00 0xf80>;
		qcom,sde-dsc-enc-size = <0x100>;
		qcom,sde-dsc-enc = <0x100 0x200 0x100 0x200 0x100 0x200 0x100 0x200>;
		qcom,sde-dsc-hw-rev = "dsc_1_2";
		qcom,sde-dsc-pair-mask = <0x02 0x01 0x04 0x03 0x06 0x05 0x08 0x07>;
		qcom,sde-dsc-size = <0x08>;
		qcom,sde-dsc-off = <0x81000 0x81000 0x82000 0x82000 0x83000 0x83000 0x84000 0x84000>;
		qcom,sde-cdm-size = <0x240>;
		qcom,sde-cdm-off = <0x7a200>;
		qcom,sde-pp-cwb = <0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x01 0x01 0x01 0x01>;
		qcom,sde-merge-3d-size = <0x1c>;
		qcom,sde-merge-3d-off = <0x4f000 0x50000 0x51000 0x52000 0x67700 0x7f700>;
		qcom,sde-pp-merge-3d-id = <0x00 0x00 0x01 0x01 0x02 0x02 0x03 0x03 0x04 0x04 0x05 0x05>;
		qcom,sde-pp-size = <0x2c>;
		qcom,sde-pp-slave = <0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00>;
		qcom,sde-pp-off = <0x6a000 0x6b000 0x6c000 0x6d000 0x6e000 0x6f000 0x70000 0x71000 0x67000 0x67400 0x7f000 0x7f400>;
		qcom,sde-intf-tear-irq-off = <0x00 0x36800 0x37800 0x00>;
		qcom,sde-intf-type = "dp", "dsi", "dsi", "dp";
		qcom,sde-intf-size = <0x4bc>;
		qcom,sde-intf-off = <0x35000 0x36000 0x37000 0x38000>;
		qcom,sde-wb-id = <0x01 0x02>;
		qcom,sde-wb-xin-id = <0x0a 0x06>;
		qcom,sde-wb-size = <0x2c8>;
		qcom,sde-wb-off = <0x65000 0x66000>;
		qcom,sde-dest-scaler-size = <0x800>;
		qcom,sde-dest-scaler-off = <0x00 0x1000 0x2000 0x3000>;
		qcom,sde-dest-scaler-top-size = <0x1c>;
		qcom,sde-dest-scaler-top-off = <0x8f000>;
		qcom,sde-dnsc-blur-dither-size = <0x20>;
		qcom,sde-dnsc-blur-dither-off = <0x5e0>;
		qcom,sde-dnsc-blur-gaus-lut-size = <0x400>;
		qcom,sde-dnsc-blur-gaus-lut-off = <0x100>;
		qcom,sde-dnsc-blur-size = <0x40>;
		qcom,sde-dnsc-blur-off = <0x7d000>;
		qcom,sde-dnsc-blur-version = <0x100>;
		qcom,sde-dspp-rc-min-region-width = <0x14>;
		qcom,sde-dspp-rc-mem-size = <0xaa0>;
		qcom,sde-dspp-rc-size = <0x100>;
		qcom,sde-dspp-rc-off = <0x15800 0x14800 0x13800 0x12800>;
		qcom,sde-dspp-rc-version = <0x10001>;
		qcom,sde-dspp-size = <0x1800>;
		qcom,sde-dspp-off = <0x55000 0x57000 0x59000 0x5b000>;
		qcom,sde-dspp-top-size = <0x8c>;
		qcom,sde-dspp-top-off = <0x1300>;
		qcom,sde-mixer-dcwb-pref = "none", "none", "none", "none", "none", "none", "none", "none", "dcwb", "dcwb", "dcwb", "dcwb";
		qcom,sde-mixer-display-pref = "primary", "primary", "none", "none", "none", "none", "none", "none", "none", "none", "none", "none";
		qcom,sde-mixer-size = <0x400>;
		qcom,sde-mixer-off = <0x45000 0x46000 0x47000 0x48000 0x49000 0x4a000 0x4b000 0x4c000 0xf0f 0xf0f 0xf0f 0xf0f>;
		qcom,sde-ctl-display-pref = "primary", "none", "none", "none", "none", "none";
		qcom,sde-ctl-size = <0x1000>;
		qcom,sde-ctl-off = <0x16000 0x17000 0x18000 0x19000 0x1a000 0x1b000>;
		qcom,sde-len = <0x488>;
		qcom,sde-off = <0x1000>;
		#cooling-cells = <0x02>;
		#interrupt-cells = <0x01>;
		interrupt-controller;
		interrupts = <0x00 0x53 0x04>;
		reg-names = "mdp_phys", "vbif_phys", "regdma_phys", "ipcc_reg", "swfuse_phys";
		reg = <0xae00000 0x93800 0xaeb0000 0x2008 0xaf80000 0x7000 0x400000 0x2000 0xaf50000 0x128>;
		compatible = "qcom,sde-kms";
		#size-cells = <0x01>;
		#address-cells = <0x01>;

		qcom,sde-sspp-vig-blocks {

			vcm@0 {
				qcom,sde-ucsc-alpha-dither = <0x700 0x10000>;
				qcom,sde-ucsc-csc = <0x700 0x10001>;
				qcom,sde-ucsc-gc = <0x700 0x10001>;
				qcom,sde-ucsc-unmult = <0x700 0x10001>;
				qcom,sde-ucsc-igc = <0x700 0x10001>;
				qcom,sde-fp16-csc = <0x200 0x10000>;
				qcom,sde-fp16-gc = <0x200 0x10000>;
				qcom,sde-fp16-unmult = <0x200 0x10000>;
				qcom,sde-fp16-igc = <0x200 0x10000>;
				qcom,sde-vig-inverse-pma;
				qcom,sde-vig-igc = <0x1d00 0x60000>;
				qcom,sde-vig-gamut = <0x1d00 0x60001>;
				qcom,sde-vig-qseed-size = <0xe0>;
				qcom,sde-vig-qseed-off = <0xa00>;
				qcom,sde-vig-csc-off = <0x1a00>;
				qcom,sde-vig-top-off = <0x700>;
				cell-index = <0x00>;
			};

			vcm@1 {
				qcom,sde-ucsc-alpha-dither = <0x1700 0x10000>;
				qcom,sde-ucsc-csc = <0x1700 0x10001>;
				qcom,sde-ucsc-gc = <0x1700 0x10001>;
				qcom,sde-ucsc-unmult = <0x1700 0x10001>;
				qcom,sde-ucsc-igc = <0x1700 0x10001>;
				qcom,sde-fp16-csc = <0x280 0x10000>;
				qcom,sde-fp16-gc = <0x280 0x10000>;
				qcom,sde-fp16-unmult = <0x280 0x10000>;
				qcom,sde-fp16-igc = <0x280 0x10000>;
				cell-index = <0x01>;
			};
		};

		qcom,sde-sspp-dma-blocks {

			dgm@0 {
				qcom,sde-ucsc-alpha-dither = <0x700 0x10000>;
				qcom,sde-ucsc-csc = <0x700 0x10001>;
				qcom,sde-ucsc-gc = <0x700 0x10001>;
				qcom,sde-ucsc-unmult = <0x700 0x10001>;
				qcom,sde-ucsc-igc = <0x700 0x10001>;
				qcom,sde-fp16-csc = <0x200 0x10000>;
				qcom,sde-fp16-gc = <0x200 0x10000>;
				qcom,sde-fp16-unmult = <0x200 0x10000>;
				qcom,sde-fp16-igc = <0x200 0x10000>;
				qcom,sde-dma-top-off = <0x700>;
				cell-index = <0x00>;
			};

			dgm@1 {
				qcom,sde-ucsc-alpha-dither = <0x1700 0x10000>;
				qcom,sde-ucsc-csc = <0x1700 0x10001>;
				qcom,sde-ucsc-gc = <0x1700 0x10001>;
				qcom,sde-ucsc-unmult = <0x1700 0x10001>;
				qcom,sde-ucsc-igc = <0x1700 0x10001>;
				qcom,sde-fp16-csc = <0x200 0x10000>;
				qcom,sde-fp16-gc = <0x200 0x10000>;
				qcom,sde-fp16-unmult = <0x200 0x10000>;
				qcom,sde-fp16-igc = <0x200 0x10000>;
				cell-index = <0x01>;
			};
		};

		qcom,sde-dspp-blocks {
			qcom,sde-dspp-dither = <0x82c 0x10007>;
			qcom,sde-dspp-gc = <0x17c0 0x20000>;
			qcom,sde-dspp-pcc = <0x1700 0x60000>;
			qcom,sde-dspp-gamut = <0x1000 0x40003>;
			qcom,sde-dspp-vlut = <0xa00 0x10008>;
			qcom,sde-dspp-sixzone = <0x900 0x20000>;
			qcom,sde-dspp-hist = <0x800 0x10007>;
			qcom,sde-dspp-memcolor = <0x880 0x10007>;
			qcom,sde-dspp-hsic = <0x800 0x10007>;
			qcom,sde-dspp-igc = <0x1260 0x50000>;
		};

		qcom,platform-supply-entries {
			#size-cells = <0x00>;
			#address-cells = <0x01>;

			qcom,platform-supply-entry@0 {
				qcom,supply-disable-load = <0x00>;
				qcom,supply-enable-load = <0x00>;
				qcom,supply-max-voltage = <0>;
				qcom,supply-min-voltage = <0>;
				qcom,supply-name = "mmcx";
				reg = <0x00>;
			};
		};

		#include "dada-display/dsi-panel-nt37801-wqhd-plus-cmd.dtsi"

		#include "dada-display/dsi-panel-nt37801-wqhd-plus-cmd-cphy.dtsi"

		#include "dada-display/dsi-panel-nt37801-wqhd-plus-vid.dtsi"

		#include "dada-display/dsi-panel-nt37801-wqhd-plus-vid-cphy.dtsi"

		#include "dada-display/dsi-panel-nt37801-amoled-dsc-10b-cmd.dtsi"

		#include "dada-display/dsi-panel-nt37801-amoled-dsc-10b-vid.dtsi"

		#include "dada-display/dsi-panel-nt37801-wqhd-plus-cmd-spr.dtsi"

		#include "dada-display/dsi-panel-nt37801-wqhd-plus-vid-spr.dtsi"

		#include "dada-display/dsi-panel-nt37801-qsync-wqhd-plus-cmd.dtsi"

		#include "dada-display/dsi-panel-nt37801-qsync-wqhd-plus-cmd-cphy.dtsi"

		#include "dada-display/dsi-panel-nt37801-qsync-wqhd-plus-vid.dtsi"

		#include "dada-display/dsi-panel-nt37801-qsync-wqhd-plus-vid-cphy.dtsi"

		#include "dada-display/dsi-panel-nt37801-fhd-plus-cmd.dtsi"

		#include "dada-display/dsi-panel-nt37801-wqhd-plus-cmd-ddicspr.dtsi"

		#include "dada-display/dsi-panel-nt37801-wqhd-plus-vid-ddicspr.dtsi"

		#include "dada-display/dsi-panel-sharp-4k-dsc-cmd.dtsi"

		#include "dada-display/dsi-panel-sharp-4k-dsc-video.dtsi"

		#include "dada-display/dsi-panel-sharp-qhd-plus-dsc-cmd.dtsi"

		#include "dada-display/dsi-panel-sharp-qhd-plus-dsc-video.dtsi"

		#include "dada-display/dsi-panel-cmd-sim-panel-au.dtsi"

		#include "dada-display/dsi-panel-sim-cmd.dtsi"

		#include "dada-display/dsi-panel-sim-dsc-10b-cmd.dtsi"

		#include "dada-display/dsi-panel-sim-dsc-375-cmd.dtsi"

		#include "dada-display/dsi-panel-dual-sim-cmd.dtsi"

		#include "dada-display/dsi-panel-dual-sim-dsc-375-cmd.dtsi"

		#include "dada-display/dsi-panel-dual-sim-video.dtsi"

		#include "dada-display/dsi-panel-sim-sec-hd-cmd.dtsi"

		#include "dada-display/dsi-panel-sim-video-esync.dtsi"

		#include "dada-display/dsi-panel-sim-video.dtsi"

		#include "dada-display/dsi-panel-vtdr6130-fhd-plus-120hz-cmd.dtsi"

		#include "dada-display/dsi-panel-vtdr6130-fhd-plus-120hz-vid.dtsi"

		#include "dada-display/dsi-panel-vtdr6130-fhd-plus-cmd.dtsi"

		#include "dada-display/dsi-panel-vtdr6130-fhd-plus-vid.dtsi"

		#include "dada-display/dsi-panel-vtdr6130-qsync-fhd-plus-144hz-cmd.dtsi"

		#include "dada-display/dsi-panel-vtdr6130-qsync-fhd-plus-144hz-video.dtsi"

		#include "dada-display/dsi-panel-ext-bridge-1080p.dtsi"

		#include "dada-display/dsi-panel-o3-42-0d-0a-dsc-cmd.dtsi"

		#include "dada-display/dsi-panel-o3-36-02-0b-dsc-cmd.dtsi"
	};

	mdss_dsi0: qcom,mdss_dsi_ctrl0@ae94000 {
		clock-names = "byte_clk", "byte_clk_rcg", "byte_intf_clk", "pixel_clk", "pixel_clk_rcg", "esync_clk", "osc_clk", "esc_clk", "xo";
		clocks = <&dispcc 0x08 &dispcc 0x09 &dispcc 0x0b &dispcc 0x46 &dispcc 0x47 &dispcc 0x00 &dispcc 0x00 &dispcc 0x3c &rpmhcc 0x00>;
		qcom,split-link-supported;
		vdda-1p2-supply = <&L3G>;
		interrupts = <0x04 0x00>;
		interrupt-parent = <&mdss_mdp>;
		reg-names = "dsi_ctrl", "disp_cc_base", "mdp_intf_base";
		reg = <0xae94000 0x1000 0xaf0f000 0x04 0xae36000 0x300>;
		frame-threshold-time-us = <800>;
		cell-index = <0x00>;
		label = "dsi-ctrl-0";
		compatible = "qcom,dsi-ctrl-hw-v2.9";

		qcom,ctrl-supply-entries {
			#size-cells = <0x00>;
			#address-cells = <0x01>;

			qcom,ctrl-supply-entry@0 {
				qcom,supply-disable-load = <0x00>;
				qcom,supply-enable-load = <0x40d8>;
				qcom,supply-max-voltage = <1200000>;
				qcom,supply-min-voltage = <1200000>;
				qcom,supply-name = "vdda-1p2";
				reg = <0x00>;
			};
		};
	};

	mdss_dsi1: qcom,mdss_dsi_ctrl1@ae96000 {
		clock-names = "byte_clk", "byte_clk_rcg", "byte_intf_clk", "pixel_clk", "pixel_clk_rcg", "esync_clk", "osc_clk", "esc_clk", "xo";
		clocks = <&dispcc 0x0c &dispcc 0x0d &dispcc 0x0f &dispcc 0x48 &dispcc 0x49 &dispcc 0x02 &dispcc 0x00 &dispcc 0x3e &rpmhcc 0x00>;
		qcom,split-link-supported;
		vdda-1p2-supply = <&L3G>;
		interrupts = <0x05 0x00>;
		interrupt-parent = <&mdss_mdp>;
		reg-names = "dsi_ctrl", "disp_cc_base", "mdp_intf_base";
		reg = <0xae96000 0x1000 0xaf0f000 0x04 0xae37000 0x300>;
		frame-threshold-time-us = <800>;
		cell-index = <0x01>;
		label = "dsi-ctrl-1";
		compatible = "qcom,dsi-ctrl-hw-v2.9";

		qcom,ctrl-supply-entries {
			#size-cells = <0x00>;
			#address-cells = <0x01>;

			qcom,ctrl-supply-entry@0 {
				qcom,supply-disable-load = <0x00>;
				qcom,supply-enable-load = <0x40d8>;
				qcom,supply-max-voltage = <1200000>;
				qcom,supply-min-voltage = <1200000>;
				qcom,supply-name = "vdda-1p2";
				reg = <0x00>;
			};
		};
	};

	mdss_dsi_phy0: qcom,mdss_dsi_phy0@ae95500 {
		pll_codes_region = <&dsi_pll_codes_data>;
		qcom,dsi-pll-ssc-mode = "down-spread";
		qcom,dsi-pll-ssc-en;
		qcom,panel-allow-phy-poweroff;
		vdda-0p9-supply = <&L3I>;
		qcom,platform-regulator-settings = [1d 1d 1d 1d 1d];
		qcom,platform-lane-config = <0xa0a 0xa0a 0xa0a 0xa0a 0x8a8a>;
		qcom,platform-strength-ctrl = [55 03 55 03 55 03 55 03 55 00];
		pll-label = "dsi_pll_3nm";
		reg-names = "dsi_phy", "pll_base", "dyn_refresh_base";
		reg = <0xae95000 0xa00 0xae95500 0x400 0xae94200 0xa0>;
		#clock-cells = <0x01>;
		cell-index = <0x00>;
		label = "dsi-phy-0";
		compatible = "qcom,dsi-phy-v7.2";

		qcom,phy-supply-entries {
			#size-cells = <0x00>;
			#address-cells = <0x01>;

			qcom,phy-supply-entry@0 {
				qcom,supply-disable-load = <0x60>;
				qcom,supply-enable-load = <0x17ed0>;
				qcom,supply-max-voltage = <880000>;
				qcom,supply-min-voltage = <880000>;
				qcom,supply-name = "vdda-0p9";
				reg = <0x00>;
			};
		};
	};

	mdss_dsi_phy1: qcom,mdss_dsi_phy1@ae97500 {
		pll_codes_region = <&dsi_pll_codes_data>;
		qcom,dsi-pll-ssc-mode = "down-spread";
		qcom,dsi-pll-ssc-en;
		qcom,panel-allow-phy-poweroff;
		vdda-0p9-supply = <&L3I>;
		qcom,platform-lane-config = <0xa0a 0xa0a 0xa0a 0xa0a 0x8a8a>;
		qcom,platform-regulator-settings = [1d 1d 1d 1d 1d];
		qcom,platform-strength-ctrl = [55 03 55 03 55 03 55 03 55 00];
		pll-label = "dsi_pll_3nm";
		reg-names = "dsi_phy", "pll_base", "dyn_refresh_base";
		reg = <0xae97000 0xa00 0xae97500 0x400 0xae96200 0xa0>;
		#clock-cells = <0x01>;
		cell-index = <0x01>;
		label = "dsi-phy-1";
		compatible = "qcom,dsi-phy-v7.2";

		qcom,phy-supply-entries {
			#size-cells = <0x00>;
			#address-cells = <0x01>;

			qcom,phy-supply-entry@0 {
				qcom,supply-disable-load = <0x60>;
				qcom,supply-enable-load = <0x17ed0>;
				qcom,supply-max-voltage = <880000>;
				qcom,supply-min-voltage = <880000>;
				qcom,supply-name = "vdda-0p9";
				reg = <0x00>;
			};
		};
	};

	dsi_pll_codes_data: dsi_pll_codes {
		label = "dsi_pll_codes";
		reg = <0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00>;
	};
};

&soc {
	ext_disp: qcom,msm-ext-disp {
		compatible = "qcom,msm-ext-disp";

		ext_disp_audio_codec: qcom,msm-ext-disp-audio-codec-rx {
			compatible = "qcom,msm-ext-disp-audio-codec-rx";
		};
	};

	qcom_msmhdcp: qcom,msm_hdcp {
		compatible = "qcom,msm-hdcp";
	};

	sde_dp_pll: qcom,dp_pll@88eb000 {
		#clock-cells = <0x01>;
		compatible = "qcom,dp-pll-3nm-v1";
	};

	sde_dp: qcom,dp_display@af54000 {
		status = "ok";
		qcom,max-lclk-frequency-khz = <540000>;
		qcom,hbr2-3-pre-emphasis = <0x20 0x2c 0x35 0x3b 0x22 0x2e 0x36 0xff 0x22 0x31 0xff 0xff 0x24 0xff 0xff 0xff>;
		qcom,hbr2-3-voltage-swing = <0x22 0x32 0x36 0x3a 0x29 0x39 0x3f 0xff 0x30 0x3f 0xff 0xff 0x3f 0xff 0xff 0xff>;
		qcom,hbr-rbr-pre-emphasis = <0x20 0x2d 0x34 0x3a 0x20 0x2e 0x35 0xff 0x20 0x2e 0xff 0xff 0x22 0xff 0xff 0xff>;
		qcom,hbr-rbr-voltage-swing = <0x27 0x2f 0x36 0x3f 0x31 0x3e 0x3f 0xff 0x36 0x3f 0xff 0xff 0x3f 0xff 0xff 0xff>;
		dp_phy_gdsc-supply = <&gcc_usb3_phy_gdsc>;
		vdd_mx-supply = <&VDD_MXA_LEVEL>;
		vdda_usb-0p9-supply = <&L2D>;
		vdda-0p9-supply = <&L2D>;
		vdda-1p2-supply = <&L3G>;
		qcom,qos-cpu-latency-us = <300>;
		qcom,qos-cpu-mask = <0x0f>;
		qcom,dsc-continuous-pps;
		qcom,fec-feature-enable;
		qcom,dsc-feature-enable;
		qcom,mst-enable;
		qcom,4ppc-enable;
		qcom,widebus-enable;
		qcom,max-pclk-frequency-khz = <675000>;
		qcom,aux-cfg9-settings = [44 03];
		qcom,aux-cfg8-settings = [40 b7];
		qcom,aux-cfg7-settings = [3c 03];
		qcom,aux-cfg6-settings = [38 0a];
		qcom,aux-cfg5-settings = [34 26];
		qcom,aux-cfg4-settings = [30 0a];
		qcom,aux-cfg3-settings = ",";
		qcom,aux-cfg2-settings = [28 a4];
		qcom,aux-cfg1-settings = [24 13];
		qcom,aux-cfg0-settings = " ";
		qcom,phy-version = <0x800>;
		qcom,dp-pll = <&sde_dp_pll>;
		clock-names = "core_aux_clk", "rpmh_cxo_clk", "core_usb_ref_clk_src", "core_usb_pipe_clk", "link_clk", "link_clk_src", "link_parent", "link_iface_clk", "pixel_clk_rcg", "pixel_parent", "pixel1_clk_rcg", "strm0_pixel_clk", "strm1_pixel_clk";
		clocks = <&dispcc 0x10 &rpmhcc 0x00 &tcsrcc 0x03 &gcc 0xa5 &dispcc 0x13 &dispcc 0x14 &sde_dp_pll 0x00 &dispcc 0x16 &dispcc 0x18 &sde_dp_pll 0x01 &dispcc 0x1a &dispcc 0x17 &dispcc 0x19>;
		#clock-cells = <0x01>;
		interrupts = <0x0c 0x00>;
		interrupt-parent = <&mdss_mdp>;
		reg-names = "dp_ahb", "dp_aux", "dp_link", "dp_p0", "dp_phy", "dp_ln_tx0", "dp_ln_tx1", "dp_pll", "usb3_dp_com", "hdcp_physical", "dp_p1", "gdsc";
		reg = <0xaf54000 0x104 0xaf54200 0xc0 0xaf55000 0x770 0xaf56000 0x9c 0x88ebc00 0x200 0x88eb400 0x200 0x88eb800 0x200 0x88eb000 0x200 0x88e8000 0x20 0xaee1000 0x34 0xaf57000 0x9c 0xaf09000 0x14>;
		qcom,dp-aux-switch = <&wcd_usbss>;
		qcom,altmode-dev = <&altmode 0x00>;
		usb-controller = <&usb0>;
		qcom,ext-disp = <&ext_disp>;
		usb-phy = <&usb_qmp_dp_phy>;
		compatible = "qcom,dp-display";
		cell-index = <0x00>;

		qcom,ctrl-supply-entries {
			#size-cells = <0x00>;
			#address-cells = <0x01>;

			qcom,ctrl-supply-entry@0 {
				qcom,supply-disable-load = <0x00>;
				qcom,supply-enable-load = <0x7530>;
				qcom,supply-max-voltage = <1200000>;
				qcom,supply-min-voltage = <1200000>;
				qcom,supply-name = "vdda-1p2";
				reg = <0x00>;
			};
		};

		qcom,phy-supply-entries {
			#size-cells = <0x00>;
			#address-cells = <0x01>;

			qcom,phy-supply-entry@0 {
				qcom,supply-disable-load = <0x00>;
				qcom,supply-enable-load = <0x1bd50>;
				qcom,supply-max-voltage = <912000>;
				qcom,supply-min-voltage = <912000>;
				qcom,supply-name = "vdda-0p9";
				reg = <0x00>;
			};

			qcom,phy-supply-entry@1 {
				qcom,supply-disable-load = <0x00>;
				qcom,supply-enable-load = <0x9c4>;
				qcom,supply-max-voltage = <880000>;
				qcom,supply-min-voltage = <880000>;
				qcom,supply-name = "vdda_usb-0p9";
				reg = <0x01>;
			};
		};

		qcom,pll-supply-entries {
			#size-cells = <0x00>;
			#address-cells = <0x01>;

			qcom,pll-supply-entry@0 {
				qcom,supply-disable-load = <0x00>;
				qcom,supply-enable-load = <0x00>;
				qcom,supply-max-voltage = <65535>;
				qcom,supply-min-voltage = <384>;
				qcom,supply-name = "vdd_mx";
				reg = <0x00>;
			};
		};
	};

	smmu_sde_iommu_region_partition: smmu_sde_iommu_region_partition {
		iommu-addresses = <&smmu_sde_unsec 0x00 0x60000 &smmu_sde_unsec 0xd4e23000 0x2dd000 &smmu_sde_unsec 0xd2880000 0x5780000 &smmu_sde_unsec 0xa3500000 0x2c80000 &smmu_sde_unsec 0xfc800000 0x2b00000 &smmu_sde_sec 0x00 0x20000>;
	};

	smmu_sde_unsec: qcom,smmu_sde_unsec_cb {
		clock-names = "mdp_core_clk";
		clocks = <&dispcc 0x41>;
		dma-coherent;
		qcom,iommu-earlymap;
		qcom,iommu-faults = "non-fatal";
		memory-region = <&smmu_sde_iommu_region_partition>;
		iommus = <&apps_smmu 0x800 0x02>;
		compatible = "qcom,smmu_sde_unsec";
	};

	smmu_sde_sec: qcom,smmu_sde_sec_cb {
		clock-names = "mdp_core_clk";
		clocks = <&dispcc 0x41>;
		qcom,iommu-vmid = <0x0a>;
		qcom,iommu-faults = "non-fatal";
		memory-region = <&smmu_sde_iommu_region_partition>;
		iommus = <&apps_smmu 0x801 0x00>;
		compatible = "qcom,smmu_sde_sec";
	};

	sde_cesta: qcom,sde_cesta@0x0af30000 {
		power-domains = <&dispcc 0x00>;
		interconnect-names = "qcom,sde-data-bus-hw-0", "qcom,sde-data-bus-hw-1", "qcom,sde-data-bus-hw-2", "qcom,sde-data-bus-hw-3", "qcom,sde-data-bus-hw-4", "qcom,sde-data-bus-hw-5", "qcom,sde-data-bus-sw-0";
		interconnects = <&mmss_noc 0x1771 &mc_virt 0x1970 &mmss_noc 0x1b59 &mc_virt 0x1d58 &mmss_noc 0x1f41 &mc_virt 0x2140 &mmss_noc 0x2329 &mc_virt 0x2528 &mmss_noc 0x2711 &mc_virt 0x2910 &mmss_noc 0x2af9 &mc_virt 0x2cf8 &mmss_noc 0x2ee1 &mc_virt 0x30e0>;
		clock-mmrm = <0x00 0x42 0x00>;
		clock-max-rate = <0x2245cdc0 0x2245cdc0 0x124f800>;
		clock-rate = <0x2245cdc0 0x2245cdc0 0x124f800>;
		clock-names = "branch_clk", "core_clk", "xo";
		clocks = <&dispcc 0x41 &dispcc 0x42 &dispcc 0x59>;
		reg-names = "rscc", "wrapper", "scc_0", "scc_1", "scc_2", "scc_3", "scc_4", "scc_5", "disp_cc";
		reg = <0xaf20000 0x850 0xaf30000 0x60 0xaf31000 0x30 0xaf32000 0x30 0xaf33000 0x30 0xaf34000 0x30 0xaf35000 0x30 0xaf36000 0x30 0xaf0f000 0x10>;
		compatible = "qcom,sde-cesta";
		cell-index = <0x00>;
	};
};

&tlmm {
	pmx_sde: pmx_sde {

		sde_dsi_active: sde_dsi_active {

			mux {
				function = "gpio";
				pins = "gpio98";
			};

			config {
				bias-disable = <0x00>;
				drive-strength = <0x08>;
				pins = "gpio98";
			};
		};

		sde_dsi_suspend: sde_dsi_suspend {

			mux {
				function = "gpio";
				pins = "gpio98";
			};

			config {
				bias-pull-down;
				drive-strength = <0x02>;
				pins = "gpio98";
			};
		};

		sde_dsi1_active: sde_dsi1_active {

			mux {
				function = "gpio";
				pins = "gpio97";
			};

			config {
				bias-disable = <0x00>;
				drive-strength = <0x08>;
				pins = "gpio97";
			};
		};

		sde_dsi1_suspend: sde_dsi1_suspend {

			mux {
				function = "gpio";
				pins = "gpio97";
			};

			config {
				bias-pull-down;
				drive-strength = <0x02>;
				pins = "gpio97";
			};
		};
	};

	pmx_sde_te: pmx_sde_te {

		sde_te_active: sde_te_active {

			mux {
				function = "mdp_vsync";
				pins = "gpio86";
			};

			config {
				bias-pull-down;
				drive-strength = <0x02>;
				pins = "gpio86";
			};
		};

		sde_te_suspend: sde_te_suspend {

			mux {
				function = "mdp_vsync";
				pins = "gpio86";
			};

			config {
				bias-pull-down;
				drive-strength = <0x02>;
				pins = "gpio86";
			};
		};

		sde_te1_active: sde_te1_active {

			mux {
				function = "mdp_vsync";
				pins = "gpio87";
			};

			config {
				bias-pull-down;
				drive-strength = <0x02>;
				pins = "gpio87";
			};
		};

		sde_te1_suspend: sde_te1_suspend {

			mux {
				function = "mdp_vsync";
				pins = "gpio87";
			};

			config {
				bias-pull-down;
				drive-strength = <0x02>;
				pins = "gpio87";
			};
		};
	};

	pmx_sde_esync: pmx_sde_esync {

		sde_esync0_active: sde_esync0_active {

			mux {
				function = "mdp_esync0_out";
				pins = "gpio88";
			};

			config {
				bias-pull-down;
				drive-strength = <0x02>;
				pins = "gpio88";
			};
		};

		sde_esync0_suspend: sde_esync0_suspend {

			mux {
				function = "mdp_esync0_out";
				pins = "gpio88";
			};

			config {
				bias-pull-down;
				drive-strength = <0x02>;
				pins = "gpio88";
			};
		};

		sde_esync1_active: sde_esync1_active {

			mux {
				function = "mdp_esync1_out";
				pins = "gpio100";
			};

			config {
				bias-pull-down;
				drive-strength = <0x02>;
				pins = "gpio100";
			};
		};

		sde_esync1_suspend: sde_esync1_suspend {

			mux {
				function = "mdp_esync1_out";
				pins = "gpio100";
			};

			config {
				bias-pull-down;
				drive-strength = <0x02>;
				pins = "gpio100";
			};
		};
	};
};

&soc {
	dsi_panel_pwr_supply_sim: dsi_panel_pwr_supply_sim {
		#size-cells = <0x00>;
		#address-cells = <0x01>;

		qcom,panel-supply-entry@0 {
			qcom,supply-post-on-sleep = <0x14>;
			qcom,supply-disable-load = <0x1f40>;
			qcom,supply-enable-load = <0x35b60>;
			qcom,supply-max-voltage = <1800000>;
			qcom,supply-min-voltage = <1800000>;
			qcom,supply-name = "dummy";
			reg = <0x00>;
		};
	};

	dsi_panel_pwr_supply: dsi_panel_pwr_supply {
		#size-cells = <0x00>;
		#address-cells = <0x01>;

		qcom,panel-supply-entry@0 {
			qcom,supply-post-on-sleep = <0x14>;
			qcom,supply-disable-load = <0xafc8>;
			qcom,supply-enable-load = <0x25990>;
			qcom,supply-max-voltage = <1800000>;
			qcom,supply-min-voltage = <1800000>;
			qcom,supply-name = "vddio";
			reg = <0x00>;
		};

		qcom,panel-supply-entry@1 {
			qcom,supply-post-on-sleep = <0x00>;
			qcom,supply-disable-load = <0x1d7>;
			qcom,supply-enable-load = <0x35b60>;
			qcom,supply-max-voltage = <1100000>;
			qcom,supply-min-voltage = <1000000>;
			qcom,supply-name = "vdd";
			reg = <0x01>;
		};

		qcom,panel-supply-entry@2 {
			qcom,supply-post-on-sleep = <0x00>;
			qcom,supply-disable-load = <0x12c>;
			qcom,supply-enable-load = <0x2710>;
			qcom,supply-max-voltage = <3000000>;
			qcom,supply-min-voltage = <3000000>;
			qcom,supply-name = "vci";
			reg = <0x02>;
		};

		qcom,panel-supply-entry@3 {
			qcom,supply-post-on-sleep = <0x14>;
			qcom,supply-disable-load = <0x00>;
			qcom,supply-enable-load = <0x00>;
			qcom,supply-max-voltage = <1800000>;
			qcom,supply-min-voltage = <1800000>;
			qcom,supply-name = "tvdd";
			reg = <0x03>;
		};
	};

	dsi_panel_pwr_supply_avdd: dsi_panel_pwr_supply_avdd {
		#size-cells = <0x00>;
		#address-cells = <0x01>;

		qcom,panel-supply-entry@0 {
			qcom,supply-post-on-sleep = <0x14>;
			qcom,supply-disable-load = <0x1f40>;
			qcom,supply-enable-load = <0x35b60>;
			qcom,supply-max-voltage = <1800000>;
			qcom,supply-min-voltage = <1800000>;
			qcom,supply-name = "vddio";
			reg = <0x00>;
		};

		qcom,panel-supply-entry@1 {
			qcom,supply-disable-load = <0x64>;
			qcom,supply-enable-load = <0x3f7a0>;
			qcom,supply-max-voltage = <6000000>;
			qcom,supply-min-voltage = <4600000>;
			qcom,supply-name = "avdd";
			reg = <0x01>;
		};
	};

	sde_dsi: qcom,dsi-display-primary {
		vddioldo-supply = <&display_panel_vddioldo>;
		vddd-supply = <&display_panel_vddd>;
		tvdd-supply = <&L4B>;
		vdd-supply = <&L11B>;
		vci-supply = <&L13B>;
		vddio-supply = <&L2G>;
		clock-names = "pll_byte_clk0", "pll_dsi_clk0", "pll_byte_clk1", "pll_dsi_clk1", "mdp_core_clk", "esync_clk_rcg";
		clocks = <&mdss_dsi_phy0 0x00 &mdss_dsi_phy0 0x01 &mdss_dsi_phy1 0x00 &mdss_dsi_phy1 0x01 &dispcc 0x41 &dispcc 0x01>;
		qcom,demura-panel-id = <0x122e700 0x471>;
		qcom,dsi-default-panel = <&dsi_nt37801_amoled_video>;
		qcom,mdp = <&mdss_mdp>;
		qcom,panel-te-source = <0x00>;
		qcom,platform-te-gpio = <&tlmm 0x56 0x00>;
		pinctrl-2 = <&sde_dsi_suspend &sde_te_suspend &sde_esync0_suspend>;
		pinctrl-1 = <&sde_dsi_active &sde_te_active &sde_esync0_active>;
		pinctrl-0 = <&sde_dsi_active &sde_te_active &sde_esync0_suspend>;
		pinctrl-names = "panel_active", "panel_active_with_esync", "panel_suspend";
		qcom,dsi-phy = <&mdss_dsi_phy0 &mdss_dsi_phy1>;
		qcom,dsi-ctrl = <&mdss_dsi0 &mdss_dsi1>;
		label = "primary";
		compatible = "qcom,dsi-display";
	};

	sde_dsi1: qcom,dsi-display-secondary {
		status = "disabled";
		tvdd-supply = <&L4B>;
		vdd-supply = <&L11B>;
		vci-supply = <&L13B>;
		vddio-supply = <&L12B>;
		clock-names = "pll_byte_clk0", "pll_dsi_clk0", "pll_byte_clk1", "pll_dsi_clk1", "mdp_core_clk", "esync_clk_rcg";
		clocks = <&mdss_dsi_phy0 0x00 &mdss_dsi_phy0 0x01 &mdss_dsi_phy1 0x00 &mdss_dsi_phy1 0x01 &dispcc 0x41 &dispcc 0x03>;
		qcom,demura-panel-id = <0x00 0x00>;
		qcom,mdp = <&mdss_mdp>;
		qcom,panel-te-source = <0x01>;
		qcom,platform-te-gpio = <&tlmm 0x57 0x00>;
		pinctrl-2 = <&sde_dsi1_suspend &sde_te1_suspend &sde_esync1_suspend>;
		pinctrl-1 = <&sde_dsi1_active &sde_te1_active &sde_esync1_active>;
		pinctrl-0 = <&sde_dsi1_active &sde_te1_active &sde_esync1_suspend>;
		pinctrl-names = "panel_active", "panel_active_with_esync", "panel_suspend";
		qcom,dsi-phy = <&mdss_dsi_phy0 &mdss_dsi_phy1>;
		qcom,dsi-ctrl = <&mdss_dsi0 &mdss_dsi1>;
		label = "secondary";
		compatible = "qcom,dsi-display";
	};
};

&soc {
	sde_wb1: qcom,wb-display@1 {
		clock-names = "mdp_core_clk";
		clocks = <&dispcc 0x41>;
		label = "wb_display1";
		cell-index = <0x00>;
		compatible = "qcom,wb-display";
	};

	sde_wb2: qcom,wb-display@2 {
		clock-names = "mdp_core_clk";
		clocks = <&dispcc 0x41>;
		label = "wb_display2";
		cell-index = <0x01>;
		compatible = "qcom,wb-display";
	};

	display_panel_avdd: display_gpio_regulator@1 {
		status = "disabled";
		pinctrl-names = "default";
		qcom,proxy-consumer-enable;
		proxy-supply = <&display_panel_avdd>;
		regulator-boot-on;
		enable-active-high;
		regulator-enable-ramp-delay = <0xe9>;
		regulator-max-microvolt = <5500000>;
		regulator-min-microvolt = <5500000>;
		regulator-name = "display_panel_avdd";
		compatible = "qti-regulator-fixed";
	};

	disp_rdump_memory: disp_rdump_region@FC800000 {
		label = "disp_rdump_region";
		reg = <0xfc800000 0x1400000>;
	};
};

&reserved_memory {
	splash_memory: splash_region {
		label = "cont_splash_region";
		reg = <0x00 0xfc800000 0x00 0x2b00000>;
	};

	demura_memory_0: demura_region_0 {
		label = "demura hfc region 0";
		reg = <0x00 0x00 0x00 0x00>;
	};

	demura_memory_1: demura_region_1 {
		label = "demura hfc region 1";
		reg = <0x00 0x00 0x00 0x00>;
	};
};

&soc {
	display_panel_vddd: display_panel_vddd {
		regulator-boot-on;
		enable-active-high;
		gpio = <&tlmm 0x78 0x00>;
		regulator-max-microvolt = <1200000>;
		regulator-min-microvolt = <1200000>;
		regulator-name = "display_panel_vddd";
		compatible = "regulator-fixed";
	};

	display_panel_vddioldo: display_panel_vddioldo {
		regulator-boot-on;
		enable-active-high;
		gpio = <&tlmm 0x70 0x00>;
		regulator-max-microvolt = <1800000>;
		regulator-min-microvolt = <1800000>;
		regulator-name = "display_panel_vddioldo";
		compatible = "regulator-fixed";
	};

	dsi_panel_pwr_supply_O3: dsi_panel_pwr_supply_O3 {

		qcom,panel-supply-entry@0 {
			qcom,supply-post-off-sleep = <0x00>;
			qcom,supply-post-on-sleep = <0x02>;
			qcom,supply-disable-load = <0x00>;
			qcom,supply-enable-load = <0x493e0>;
			qcom,supply-max-voltage = <1800000>;
			qcom,supply-min-voltage = <1800000>;
			qcom,supply-name = "vddio";
			reg = <0x00>;
		};

		qcom,panel-supply-entry@1 {
			qcom,supply-post-off-sleep = <0x01>;
			qcom,supply-post-on-sleep = <0x01>;
			qcom,supply-disable-load = <0x00>;
			qcom,supply-enable-load = <0x493e0>;
			qcom,supply-max-voltage = <3000000>;
			qcom,supply-min-voltage = <3000000>;
			qcom,supply-name = "vci";
			reg = <0x01>;
		};

		qcom,panel-supply-entry@2 {
			qcom,supply-post-off-sleep = <0x02>;
			qcom,supply-pre-off-sleep = <0x01>;
			qcom,supply-post-on-sleep = <0x01>;
			qcom,supply-disable-load = <0x00>;
			qcom,supply-enable-load = <0x493e0>;
			qcom,supply-max-voltage = <1200000>;
			qcom,supply-min-voltage = <1200000>;
			qcom,supply-name = "vddd";
			reg = <0x02>;
		};
	};

	dsi_panel_pwr_supply_O3GL: dsi_panel_pwr_supply_O3GL {

		qcom,panel-supply-entry@0 {
			qcom,supply-post-off-sleep = <0x00>;
			qcom,supply-post-on-sleep = <0x02>;
			qcom,supply-disable-load = <0x00>;
			qcom,supply-enable-load = <0x493e0>;
			qcom,supply-max-voltage = <1800000>;
			qcom,supply-min-voltage = <1800000>;
			qcom,supply-name = "vddioldo";
			reg = <0x00>;
		};

		qcom,panel-supply-entry@1 {
			qcom,supply-post-off-sleep = <0x01>;
			qcom,supply-post-on-sleep = <0x01>;
			qcom,supply-disable-load = <0x00>;
			qcom,supply-enable-load = <0x493e0>;
			qcom,supply-max-voltage = <3000000>;
			qcom,supply-min-voltage = <3000000>;
			qcom,supply-name = "vci";
			reg = <0x01>;
		};

		qcom,panel-supply-entry@2 {
			qcom,supply-post-off-sleep = <0x02>;
			qcom,supply-pre-off-sleep = <0x01>;
			qcom,supply-post-on-sleep = <0x01>;
			qcom,supply-disable-load = <0x00>;
			qcom,supply-enable-load = <0x493e0>;
			qcom,supply-max-voltage = <1200000>;
			qcom,supply-min-voltage = <1200000>;
			qcom,supply-name = "vddd";
			reg = <0x02>;
		};
	};

	dsi_panel_pwr_supply_O3_tianma: dsi_panel_pwr_supply_O3_tianma {

		qcom,panel-supply-entry@0 {
			qcom,supply-post-off-sleep = <0x00>;
			qcom,supply-post-on-sleep = <0x02>;
			qcom,supply-disable-load = <0x00>;
			qcom,supply-enable-load = <0x493e0>;
			qcom,supply-max-voltage = <1800000>;
			qcom,supply-min-voltage = <1800000>;
			qcom,supply-name = "vddio";
			reg = <0x00>;
		};

		qcom,panel-supply-entry@1 {
			qcom,supply-post-off-sleep = <0x02>;
			qcom,supply-pre-off-sleep = <0x01>;
			qcom,supply-post-on-sleep = <0x01>;
			qcom,supply-disable-load = <0x00>;
			qcom,supply-enable-load = <0x493e0>;
			qcom,supply-max-voltage = <1200000>;
			qcom,supply-min-voltage = <1200000>;
			qcom,supply-name = "vddd";
			reg = <0x01>;
		};

		qcom,panel-supply-entry@2 {
			qcom,supply-post-off-sleep = <0x01>;
			qcom,supply-post-on-sleep = <0x01>;
			qcom,supply-disable-load = <0x00>;
			qcom,supply-enable-load = <0x493e0>;
			qcom,supply-max-voltage = <3000000>;
			qcom,supply-min-voltage = <3000000>;
			qcom,supply-name = "vci";
			reg = <0x02>;
		};
	};

	dsi_panel_pwr_supply_O3GL_tianma: dsi_panel_pwr_supply_O3GL_tianma {

		qcom,panel-supply-entry@0 {
			qcom,supply-post-off-sleep = <0x00>;
			qcom,supply-post-on-sleep = <0x02>;
			qcom,supply-disable-load = <0x00>;
			qcom,supply-enable-load = <0x493e0>;
			qcom,supply-max-voltage = <1800000>;
			qcom,supply-min-voltage = <1800000>;
			qcom,supply-name = "vddioldo";
			reg = <0x00>;
		};

		qcom,panel-supply-entry@1 {
			qcom,supply-post-off-sleep = <0x02>;
			qcom,supply-pre-off-sleep = <0x01>;
			qcom,supply-post-on-sleep = <0x01>;
			qcom,supply-disable-load = <0x00>;
			qcom,supply-enable-load = <0x493e0>;
			qcom,supply-max-voltage = <1200000>;
			qcom,supply-min-voltage = <1200000>;
			qcom,supply-name = "vddd";
			reg = <0x01>;
		};

		qcom,panel-supply-entry@2 {
			qcom,supply-post-off-sleep = <0x01>;
			qcom,supply-post-on-sleep = <0x01>;
			qcom,supply-disable-load = <0x00>;
			qcom,supply-enable-load = <0x493e0>;
			qcom,supply-max-voltage = <3000000>;
			qcom,supply-min-voltage = <3000000>;
			qcom,supply-name = "vci";
			reg = <0x02>;
		};
	};
};

&qupv3_se2_spi {
	synaptics_tcm@0 {
		panel = <&dsi_o3_42_0d_0a_dsc_cmd &dsi_o3_36_02_0b_dsc_cmd &dsi_nt37801_amoled_video>;
	};
};

&soc {
	charge_screen: charge-screen {
		panel = <&dsi_o3_42_0d_0a_dsc_cmd &dsi_o3_36_02_0b_dsc_cmd &dsi_nt37801_amoled_video>;
	};
};

&soc {
	thermal_screen: thermal-screen {
		panel = <&dsi_o3_42_0d_0a_dsc_cmd &dsi_o3_36_02_0b_dsc_cmd &dsi_nt37801_amoled_video>;
	};

	fingerprint_screen: fingerprint-screen {
		panel = <&dsi_o3_42_0d_0a_dsc_cmd &dsi_o3_36_02_0b_dsc_cmd &dsi_nt37801_amoled_video>;
	};
};
